html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    font-family: $main-font;
    @media (max-width: 768px) {
        font-size: calc(0.80rem + 1vmin)
    }
}

h1,h2{
    font-size: 3.5rem;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-primary{
    background-color:$bluey-grey;
    border-color:$bluey-grey;
    border-radius: 4px;
    padding: 16px 24px;
    text-decoration: none;
    box-shadow: $light-shadow;
    transition: padding 0.5s ease-out;

    
    &:hover{
        background-color:$bluey-grey;
        border-color:$bluey-grey;
        padding: 14px 20px;
        box-shadow: $light-shadow;

    }
    &:focus,&:active{
        background-color:$bluey-grey;
        border-color:$bluey-grey;
        padding: 14px 20px;
        box-shadow: $light-shadow;

    }
}

// Sobre Alelis section

.img--background-alelis{
    background-image: url(../images/Sobre-Alelis-Img-3.svg);
    background-size: cover;
}