html {
    scroll-behavior: smooth;
    body{
    font-size: 16px;
    font-family: $main-font;
    @media screen and (max-width: 900px) {
         font-size: 15px;
      }
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }
}
  
/* Modules will scale with document */
header {
font-size: 1.5rem;
}
footer {
font-size: 0.75rem;
}

/* Type will scale with modules */
h1 {
font-size: 3em;

}
h2 {
font-size: 2.5em;
font-weight: normal;
font-style: italic;
text-align: left;
}
h3 {
font-size: 2em;
}

img {
    max-width: 100%;
    height: auto;
}

.text-shadow{
    text-shadow: $pink-heading-shadow;
}

.btn-primary{
    background-color:$bluey-grey;
    border-color:$bluey-grey;
    border-radius: 4px;
    padding: 16px 24px;
    text-decoration: none;
    box-shadow: $light-shadow;
    transition: padding 0.5s ease-out;

    
    &:hover{
        background-color:$bluey-grey;
        border-color:$bluey-grey;
        padding: 14px 20px;
        box-shadow: $light-shadow;

    }
    &:focus,&:active{
        background-color:$bluey-grey;
        border-color:$bluey-grey;
        padding: 14px 20px;
        box-shadow: $light-shadow;

    }
}

// Sobre Alelis section

.img--background-alelis{
    background-image: url(../images/Sobre-Alelis-Img-3.svg);
    background-size: cover;
}