//Fonts

$main-font:'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;

// Colors

$pig-pink: #eb8ba2;
$soft-pink: #fba2b4;
$bluey-grey: #8597a6;
$white: #ffffff;
$green: #83b500;

// Shadows

$strong-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
$light-shadow: 0 2px 2px 0 rgba(235, 139, 162, 0.12);

//animation

$animate: all 0.4s ease-in-out;