section#hero {
    width: 100%;
    height: 100vh;
}

#heroBackground{
    background-image: url('../images/GoteadoVectorizado.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    @media screen and (max-width:1200px) {
        background-size: 1620px 905px;
    }
    @media screen and (max-width:1000px) {
        background-size: 1520px 805px;
    }
    @media screen and (max-width:500px) {
        background-size: 1100px 660px;
    }
}

