.navbar{
    background-color: $bluey-grey;
    box-shadow: $strong-shadow;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1.87px;
    text-align: left;

        a{
            color: $white !important;
        }
        a.dropdown-item{
            color: black !important;
        }
}

